@charset "UTF-8";
:root {
  --white: #FFF;
  --black: #000;
  --black-control: #272733;
  --accent: #3E9CDC;
  --container: 1170px;
}

body {
  min-width: 320px;
  margin: 0;
  background: #272733;
  color: var(--white);
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container {
  width: min(100% - 32px, var(--container));
  margin-inline: auto;
}

.visually-hidden {
  position: relative !important;
  left: 0;
  top: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap;
}

/* buttons */
.btn {
  font-size: 13px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.btn--primary {
  background: var(--accent);
  color: var(--white);
  border: 1px solid var(--white);
}

.btn:active {
  transform: scale(0.97);
}

.btn:hover {
  filter: brightness(1.2);
}

.btn--white {
  background: var(--white);
  outline: 1px solid rgba(255, 255, 255, 0.35);
  color: var(--black);
  border: 1px solid #000;
}

.btn--file {
  background: var(--white);
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #272733;
  border: 2px solid #3E9CDC;
}
.btn--file span {
  display: block;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: rgba(16, 16, 29, 0.8980392157);
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header__logo {
  color: var(--white);
  font-size: clamp(22px, 4vw, 28px);
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

.header__logo-accent {
  color: var(--accent);
}

.header__nav {
  display: flex;
  gap: 60px;
}

.header__link {
  color: var(--white);
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: #43ABF0;
}

/* burger */
.header__burger {
  display: none;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  padding: 8px;
  cursor: pointer;
  position: relative;
}

.header__burger-line {
  position: absolute;
  left: 8px;
  right: 8px;
  height: 2px;
  background: #fff;
  transition: 0.2s;
}

.header__burger-line:nth-child(1) {
  top: 12px;
}

.header__burger-line:nth-child(2) {
  top: 19px;
}

.header__burger-line:nth-child(3) {
  top: 26px;
}

.header__burger--active .header__burger-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.header__burger--active .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger--active .header__burger-line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 839.98px) {
  .header__burger {
    display: block;
  }
  .header__nav {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    display: grid;
    gap: 20px;
    padding: 20px 16px 32px;
    background: #10101D;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateY(-8px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  .header__nav--open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .header__link {
    font-size: 16px;
  }
  .is-locked {
    overflow: hidden;
  }
}
@media (min-width: 840px) {
  .header__nav {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    padding: 0;
    background: transparent;
  }
  .header__row {
    height: 100px;
  }
}
/* hero */
.hero {
  color: var(--black);
  height: 850px;
  background-image: image-set(url("https://alekcandr1.github.io/html-coding-test/assets/bg-main.avif") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main@2x.avif") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main.webp") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main@2x.webp") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main.jpg") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main@2x.jpg") 2x);
  /* для старого Safari */
  background-image: -webkit-image-set(url("https://alekcandr1.github.io/html-coding-test/assets/bg-main.avif") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main@2x.avif") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main.webp") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main@2x.webp") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main.jpg") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main@2x.jpg") 2x);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .hero {
    background-image: image-set(url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile.avif") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile@2x.avif") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile.webp") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile@2x.webp") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile.jpg") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile@2x.jpg") 2x);
    /* для старого Safari */
    background-image: -webkit-image-set(url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile.avif") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile@2x.avif") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile.webp") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile@2x.webp") 2x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile.jpg") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-main-mobile@2x.jpg") 2x);
  }
}
.hero__flex {
  display: flex;
  gap: 80px;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hero__title {
  font-size: clamp(24px, 4vw, 48px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}

.hero__desc {
  margin-top: 10px;
  font-weight: 700;
  font-size: clamp(17px, 2vw, 20px);
}

.hero__accent {
  color: var(--accent);
}

.hero__content {
  max-width: 780px;
  display: flex;
  gap: 80px;
  flex-direction: column;
}

.hero__list {
  padding-left: 10px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
}
.hero__list span {
  font-weight: 800;
  display: inline-block;
  margin-right: 4px;
}

.hero__actions {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.hero__actions .btn {
  width: 183px;
  height: 43px;
}

@media (max-width: 1200px) {
  .hero {
    background-position: 60% center;
  }
}
@media (max-width: 840px) {
  .hero {
    background-position: 70% center;
    height: 650px;
  }
  .hero__content {
    gap: 50px;
  }
}
@media (max-width: 470px) {
  .hero {
    min-height: 100dvh;
  }
  @supports not (height: 100dvh) {
    .hero {
      min-height: 100vh;
    }
  }
  .hero__title {
    font-weight: 800;
    padding-top: 40px;
  }
  .hero__content {
    gap: 50px;
  }
  .hero__actions {
    padding-top: 30px;
  }
  .hero__desc {
    padding-top: 0;
  }
}
/* steps */
.steps {
  padding: 120px 0;
  text-align: center;
  background-image: image-set(url("https://alekcandr1.github.io/html-coding-test/assets/bg-steps.avif") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-steps.webp") 1x, url("https://alekcandr1.github.io/html-coding-test/assets/bg-steps.png") 1x);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.steps__title {
  font-size: clamp(22px, 3vw, 36px);
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.steps__description {
  font-size: clamp(16px, 2vw, 18px);
  color: #BBBBBB;
}

.steps__accent {
  color: var(--accent);
}

.steps__list {
  --circle-size: 100px;
  --gap: 30px;
  --dot: 6px;
  --step: 26px;
  width: 100%;
  padding: 80px 0 89px 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  gap: var(--gap);
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.steps__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  min-width: 209px;
  text-align: center;
  position: relative;
  padding: 0 10px;
  flex-direction: column;
}

.steps__item::after {
  content: "";
  position: absolute;
  top: 53px;
  left: calc(50% + 65px);
  transform: translateY(-50%);
  width: var(--dot);
  height: var(--dot);
  border-radius: 50%;
  background: #C4C4C4;
  box-shadow: calc(var(--step) * 1) 0 0 0 #C4C4C4, calc(var(--step) * 2) 0 0 0 #C4C4C4, calc(var(--step) * 3) 0 0 0 #C4C4C4, calc(var(--step) * 4) 0 0 0 #C4C4C4;
}

.steps__item:last-child::after {
  content: none;
}

@media (min-width: 1200px) {
  .steps__list {
    width: 100%;
  }
  .steps__item:nth-child(5n)::after {
    content: none;
  }
}
@media (min-width: 768px) and (max-width: 1211.98px) {
  .steps__list {
    width: 690px;
    --circle-size: 100px;
  }
  .steps__item:nth-child(3n)::after {
    content: none;
  }
}
@media (min-width: 480px) and (max-width: 767.98px) {
  .steps__list {
    width: 450px;
    --gap: 15px;
    row-gap: 25px;
  }
  .steps__item::after {
    content: none;
  }
}
@media (max-width: 479.98px) {
  .steps__list {
    width: 287px;
    --gap: 5px;
    --circle-size: 80px;
    row-gap: 25px;
    padding: 40px 0 70px 0;
  }
  .steps__item::after {
    content: none;
  }
  .steps__item {
    width: 140px;
    min-width: 140px;
  }
  .steps {
    padding: 70px 0;
  }
}
.steps__icon {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-size);
  height: var(--circle-size);
  min-width: var(--circle-size);
  min-height: var(--circle-size);
  border-radius: 50%;
  border: 5px solid #286690;
  background: var(--accent);
  transition: all 0.3s ease;
}

.steps__icon:hover {
  filter: brightness(1.2);
}

.steps__icon svg {
  width: 55px;
  height: 55px;
}

.steps__caption {
  margin-top: 20px;
  color: var(--white);
  font-size: clamp(14px, 3vw, 16px);
}

/* form */
.form {
  display: block;
  margin: 0 auto;
  max-height: 920px;
  width: 100%;
  max-width: 370px;
}

.form .btn--primary {
  margin-top: 55px;
}

.form__select-label {
  display: flex;
  justify-content: center;
}

.choices.form__control {
  border: 0;
  width: 100%;
  font-size: 18px;
  color: var(--black-control);
}

.form__grid {
  display: grid;
  gap: 30px;
  width: 100%;
}

.form .btn {
  width: 100%;
}

.choices__inner {
  display: block;
  margin: auto 0;
}

.form__wide-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  font-size: 18px;
}

.form__range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.6980392157);
  outline: none;
  border: 1px solid var(--white);
}

.form__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--accent);
  border: 3px solid #286690;
  cursor: pointer;
}

.form__range::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--accent);
  border: 3px solid #286690;
  cursor: pointer;
}

.form__range::-moz-range-track {
  height: 6px;
  background: rgba(255, 255, 255, 0.6980392157);
  border: 1px solid var(--white);
  border-radius: 999px;
}

.form__range::-ms-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--accent);
  border: 3px solid #286690;
  cursor: pointer;
}

.form__range::-ms-track {
  height: 6px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.form__range::-ms-fill-lower,
.form__range::-ms-fill-upper {
  background: #2b3342;
  border-radius: 999px;
}

.form__file {
  display: block;
  max-height: 48px;
}

.form__progress-desc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: clamp(13px, 2vw, 18px);
  padding-bottom: 12px;
}

form .btn {
  font-size: 15px;
}

.form__control {
  height: 48px;
  font-size: 18px;
  border-radius: 3px;
  background: var(--white);
  color: var(--black-control);
  border: 1px solid var(--white);
  padding: 0 10px;
  width: 100%;
  max-width: 370px;
}

.form__select {
  width: 100%;
}

.form__field--wide {
  grid-column: 1/-1;
}

.form__field {
  display: block;
  min-width: 0;
}

.form__submit-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form__field--file {
  align-items: flex-start;
}

.form__field {
  display: block;
}

.form__file-name {
  margin-top: -18px;
  display: block;
  text-align: left;
  font-size: 12px;
  color: var(--white);
  margin-left: 8px;
}

.form__progress-line {
  height: 6px;
  background: #2b3342;
  border-radius: 999px;
  overflow: hidden;
}

.form__progress-bar {
  width: 75%;
  display: block;
  height: 100%;
  background: var(--accent);
}

@media (min-width: 840px) {
  .form__grid {
    grid-template-columns: repeat(var(--col), minmax(240px, 1fr));
  }
  .form {
    max-width: 100%;
  }
  .form__wide-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: end;
  }
  .form__progress-group {
    grid-column: 1/span 2;
  }
  .form__file {
    grid-column: 3;
    align-items: stretch;
  }
  .form .btn.btn--primary {
    max-width: 370px;
  }
}
.form__hint {
  color: var(--white);
}

.form__grid > * {
  min-width: 0;
}

.form__wide-grid > * {
  min-width: 0;
}

.form__errors {
  min-height: 1.2em;
  color: #ff7a7a;
}

.form__submit {
  margin: 0 auto;
}

.choices {
  width: 100%;
}

.form__select {
  position: relative;
  display: inline-block;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices.form__control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 0 0;
}

.choices {
  position: relative;
}

.is-open .choices__inner {
  border-radius: 3px;
  transition: all 0.1s ease;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -3px;
}

.choices.is-open .choices__inner {
  background: #3D4050;
  border: 1px solid #3D4050;
  color: var(--white);
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-color: #3D4050;
}

.choices[data-type*=select-one]::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 54%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url("https://alekcandr1.github.io/html-coding-test/assets/arrow.png") center/contain no-repeat;
  border: none;
}

.choices[data-type*=select-one].is-open::after {
  background: url("https://alekcandr1.github.io/html-coding-test/assets/arrow-white.png") center/contain no-repeat;
}

.choices.is-open.form__control {
  border-radius: 10px;
}

.choices.is-open.form__control .choices__placeholder, .choices.is-open.form__control .choices__item--selectable {
  color: var(--white);
}

.choices__list--single {
  display: inline-block;
  padding: 0;
  width: 100%;
}

.choices__inner {
  display: flex;
  align-items: center;
  text-align: left;
  font-size: 18px;
  min-height: 48px;
  border: 1px solid var(--white);
  background: var(--white);
  border-radius: 3px;
  padding: 0 40px 0 10px;
  box-shadow: none;
}

.choices__list--single .choices__item {
  color: var(--black-control);
}

.choices__placeholder {
  opacity: 1;
  text-align: left;
}

/* dropdown */
.choices__list--dropdown, .choices__list[aria-expanded] {
  background: #272733;
  color: var(--white);
}

/* пункт списка */
.choices__list--dropdown .choices__item {
  padding: 10px 12px;
  text-align: left;
}

.choices.is-open.form__control .choices__item--selectable:hover {
  color: #42A9ED;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: #42A9ED;
  background: #272733;
}

.choices[data-type*=select-one] .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: #272733;
}

/* скролл */
.choices__list--dropdown::before,
.choices__list--dropdown::after {
  content: none !important;
  display: none !important;
}

.choices__list--dropdown {
  overflow: visible;
}

.choices__list--dropdown .choices__list {
  max-height: 280px;
  overflow-y: auto;
  padding-right: 0;
  margin-right: 0;
  scrollbar-color: #3E9CDC #3D4050; /* Firefox */
}

.choices__list--dropdown .choices__list::-webkit-scrollbar {
  width: 8px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-track {
  background: #3D4050;
  border-radius: 3px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
  background: #3E9CDC;
  border-radius: 3px;
  border: 0;
  background-clip: padding-box; /* чтобы «ползунок» занимал всю ширину */
}

div.choices.form__control.is-open .choices__list--dropdown .choices__list::-webkit-scrollbar-button,
div.choices.form__control.is-open .choices__list[aria-expanded] .choices__list::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-button:single-button:vertical:decrement,
.choices__list--dropdown .choices__list::-webkit-scrollbar-button:single-button:vertical:increment {
  display: none;
}

/* кроссбраузер */
select.form__control::-ms-expand {
  display: none;
}

.form__control::placeholder {
  font-size: 18px;
  color: var(--black-control);
  opacity: 1;
}

.form__control::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--black-control);
}

.form__control::-moz-placeholder {
  font-size: 18px;
  color: var(--black-control);
  opacity: 1;
}

.form__control:-ms-input-placeholder {
  font-size: 18px;
  color: var(--black-control);
}

/* footer */
.footer {
  height: 80px;
  background-color: #3D4050;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}

.footer__copyright span {
  text-transform: uppercase;
}

.footer__row {
  display: flex;
  flex-direction: row;
  height: 18px;
  justify-content: space-between;
}

.footer__payments {
  color: #C3C3C3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 38px;
}

.footer__payments img {
  margin-right: 12px;
}

.footer__payments-item, .footer__contacts-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 38px;
}

.footer__contacts a {
  color: var(--white);
  text-decoration: none;
}

.footer__line {
  width: 1px;
  height: 18px;
  background-color: var(--white);
}

@media (max-width: 1200px) {
  .footer__row {
    height: fit-content;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer {
    height: fit-content;
    padding: 50px 0;
  }
  .footer__line {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer__row {
    text-align: center;
    gap: 20px;
  }
  .footer__payments, .footer__contacts {
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    min-width: 150px;
    font-size: 11px;
  }
  .footer__copyright {
    font-size: 12px;
  }
  .footer__payments-item, .footer__contacts-item {
    gap: 4px;
  }
}

/*# sourceMappingURL=main.css.map */
